a.cbtn {
    display: inline-block;
    font-size: 14px;
    text-transform: uppercase;
    padding: 13px 25px;
    background: red;
    border-radius: 4px;
}

a.cbtn.cbnt1 {
    background: #0A66C2;
    padding-right: 70px;
    position: relative;
    z-index: 2;
    border: 1px solid transparent;
    color: #fff;
}

a.cbtn.cbnt1 i {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background: #fff;
    color: #0A66C2;
    border-radius: 4px;
    margin-top: -15px;
}



a.cbtn.cbnt1:hover {
    border-color: #004182;
    background: transparent;
    color: #004182;
    transition: all .3s;
}


a.cbtn.pricing-btn {
    background: #0A66C2;
    padding-right: 70px;
    position: relative;
    z-index: 2;
    color: #fff;
}

a.cbtn.pricing-btn i {
    position: absolute;
    top: 50%;
    right: 15px;
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 20px;
    background: #fff;
    color: #121517;
    border-radius: 4px;
    margin-top: -15px;
}