.newsletter-bg {
    background-image: url(../img/logo/logo.svg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.cta-area1 {
    position: relative;
    z-index: 1;
    /* Removed map bg to prefer logo bg or mix them */
    background: #2E3D44;
    /* Dark matching theme */
}

/* Social Media Brand Colors */
.text-facebook {
    color: #1877F2 !important;
}

.text-youtube {
    color: #FF0000 !important;
}

.text-linkedin {
    color: #0A66C2 !important;
}

.text-instagram {
    background: -webkit-linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Ensure background logo is visible */
.cta-area1:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../img/logo/logo.svg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.05;
    z-index: 0;
}
